*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.body{
    background-image: linear-
    gradient((rgb(0,0,0,0.8), rgb(0,0,0,0.8)),url(banner.jpg));
    background-position: center;
    background-size: cover;
}
.tab{
    width: fit-content;
    height: fit-content;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.h1, .h2{
    text-align: left;
    margin-left: 15px;
    color: rgb(29, 29, 29);
}
/*
CSS FOR THE STEPS
*/
input.invalid {
    background-color: #ffdddd;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

/*
CSS FOR THE COLUMNS AND ROWS 
*/
.column {
    float: left;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.row {
    padding-bottom: 20px;
    padding-top: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.pool_shape {
    padding-bottom: 20px;
}

.pool-label {
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pool-addon, .pool-image, .pool-feature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.pool-addon {
    padding-top: 20px;
}

.pool-feature {
    padding-top: 20px;
    width: 170px;
    height: 100px;
}



/*step 4 css*/
.name-label, .email-label, .lname-label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.input-box{
    width: fit-content;
    display: block;

}
.input-box-mail{
    display: block;
    width: 50%;
    height: 150px;
}
.input-box-submit{
    background: #90a4cb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px ;
    height: 30px;
    width: 75px;
    border-radius: 15px;
    margin-top: 15px;
}
